<mat-card>
  <h2>Enter Email</h2>
  <form [formGroup]="addUserForm" (ngSubmit)="saveUser()">
    <mat-form-field>
      <input matInput placeholder="Email" formControlName="name" />
    </mat-form-field>
    <br />
    <button [disabled]="!addUserForm.valid" mat-raised-button type="submit">
      Search User
    </button>
  </form>
</mat-card>
<mat-card>
  <h2>Profiles</h2>
  <br />
  <ng-container *ngFor="let user of users">
    <div
      style='flex-direction: row;
      display: flex;
      align-items: center;
      background-color: rgb(40, 62, 74);
      color: #fff;
      font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
      height: 200px;width: 1000px;
    margin: auto;'
    >
      <div style="margin-left:50px;">
        <img
          style="border-radius:50%;height:120px;margin-left:2%;"
          [src]="user.photo"
          [alt]="user.name"
        />
      </div>
      <div
        style="background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9IiNmZmYiIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZmlsbD0iIzExNzdiMyIgZD0iTTEuOCAwQTEuOCAxLjggMCAwIDAgMCAxLjd2MjAuNkExLjggMS44IDAgMCAwIDEuOCAyNGgyMC40YTEuOCAxLjggMCAwIDAgMS44LTEuN1YxLjdBMS44IDEuOCAwIDAgMCAyMi4yIDB6Ii8+PHBhdGggZD0iTTIwLjQgMjAuNEgxN1YxNWMwLTEuNSAwLTMtMS44LTMtMiAwLTIgMS4zLTIgM3Y1LjRIOS40VjloMy40djEuN2EzLjcgMy43IDAgMCAxIDMuNi0yYzMuNCAwIDQgMi40IDQgNS41ek0zLjQgOUg3djExLjRIMy42eiIvPjxjaXJjbGUgY3g9IjUuNCIgY3k9IjUuNCIgcj0iMi4xIi8+PC9zdmc+);
        position: absolute;
        z-index: 10;
        right: -1px;
        bottom: 2px;
        border-style: solid;
        border-color: rgb(40, 62, 74);
        border-width: 2px;
        border-radius: 15%;
        width: 28px;
        height: 28px;
        left: 351px;
        top: 210px;"
      ></div>
      <div style="display:flex;flex-direction:column;">
        <p
          style="font-size: 34px;
      font-family: sans-serif;
      font-weight: lighter;
      margin-left: 20px;
      position: relative;
      top: -6px;"
        >
          {{ user.name }}
        </p>
        <p
          style="font-size: 17px;
          font-family: sans-serif;
          font-weight: lighter;
          margin: 0 !important;
          margin-left: 20px !important;
          position: relative;
          top: -28px;"
        >
          {{ user.headline }}
        </p>
      </div>
      <button
        style="position: relative;
      right: -279px;
      cursor:pointer;
      background-color: rgb(0, 120, 212);
      border: 0px;
      outline: none;
      height: 31px;
      color: #fff;
      border-radius: 7%;
      width: 84px;"
        (click)="openLinkedIn(user)"
      >
        Connect
      </button>
    </div>
  </ng-container>
  <ng-container *ngIf="showNoUser">
    <a [href]="">Who is Jungleworks</a>
  </ng-container>
</mat-card>
